.catalogo--section {
    background-color: #f5f5f5;
}
.section__productos{
    display: flex;
    flex-direction: row;
}
.productos__head__titulo-principal{
    font-weight: 700;
    font-size: 32px;
     color: #464646;
     width: 400px;
     text-align: center;
}

.addProducto{
    display: flex;
    float: right;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #2A7AE4;
    color: white;
    background-color: #2A7AE4;
    padding: .7rem 2.4rem;
    border-radius: 5px;
    text-align: center;
   
   }

.addProducto:hover{
       box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.25);
   }
   
.star_wars__productos,
.consolas__productos,
.diversos__productos,
.productos_admin,
.producto_similares,
.productos_index,
.productos
{
    background-color: #f5f5f5;
    padding: 3rem 0;
    margin: 64px 152px;
    align-items: center;
    justify-content: space-between;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
}

   